@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @await Html.PartialAsync("Components/_BusquedaCliente")

    <div class="card">
        <div class="card-body">
            <div><div class="custom-border" style="display: flex; align-items: center;"><h3>Búsqueda de Cliente y Registro de solicitud</h3> </div></div>
            <div class="pb-3"><span>progreso del registro</span></div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>

        </div>
    </div>
</div>
