@using BCP.CROSS.MODELS
@using BCP.CROSS.MODELS.Reportes
@using Newtonsoft.Json
@using Sarc.WebApp.Components.Reportes
@using Sarc.WebApp.Models.Reportes
@using System.Data
@model ReportesFormViewModel
@{
    ViewData["Title"] = "Reporte Reposicion Tarjeta de Credito ";
    bool responseExist = false;
    Meta meta = new Meta();
    var tipo = ViewBag.tipo;
    var data = "[{}]";
    var dataJson = Json.Serialize(data);
    List<ReposicionTarjetaModel> list = new();
    var excelTitle = "Reporte_RT_" + DateTime.Now.ToString("yyyyMMdd") + ".xlsx";
    if (ViewBag.response != null)
    {
        meta = ViewBag.response.Meta;
        responseExist = true;
    }
}
<div class="container">
    <div class="card bg-dark">
        <div class="card-body">
            <form asp-action="ReposicionTarjeta" asp-controller="Reportes" method="post" class="row">
                <div class="col-12 col-md-4 my-2">
                    <label for="FechaIni" class="form-label">Fecha de inicio</label>
                    <input type="date" class="form-control" asp-for="FechaIni" id="FechaIni">
                </div>
                <div class="col-12 col-md-4  my-2">
                    <label for="FechaFin" class="form-label">Fecha Final</label>
                    <input type="date" class="form-control" asp-for="FechaFin" id="FechaFin">
                </div>
                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-primary mb-3">Generar Reporte</button>
                </div>
            </form>
            @if (responseExist)
            {
                @if (ViewBag.response.Data != null)
                {
                    list = ViewBag.response.Data;
                    dataJson = Json.Serialize(list.ToArray());
                    <component type="typeof(ReposicionTarjetaComponent)" render-mode="ServerPrerendered" param-Data='ViewBag.response.Data' />
                    <button type="button" id="downloadexcel" class="btn btn-primary">Descargar Excel</button>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        @meta.Msj
                    </div>
                }
            }

        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    var data=@dataJson;
    var title="@excelTitle";
        $("#downloadexcel").click(function(){
                GenerarExcel(data,title);
        });
</script>
}