<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<logName value="LogInfoC" />
			<applicationName value="LogInfoC" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[Tipo]: %level%newline[Modulo]: %property{Modulo}%newline[Fecha]: %date{yyyy/MM/dd HH:mm:ss, fff}%newline[Usuario]: %property{Usuario}%newline[Mensaje]: %message%n[Excepcion]:%n%exception%n%n" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="C:\CRM\LogCRM_WebMarketingCRM.txt" />
			<param name="RollingStyle" value="Size" />
			<param name="countDirection" value="1" />
			<param name="MaximumFileSize" value="10240KB" />
			<param name="MaxSizeRollBackups" value="50" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[Tipo]: %level%newline[Modulo]: %property{Modulo}%newline[Fecha]: %date{yyyy/MM/dd HH:mm:ss, fff}%newline[Usuario]: %property{Usuario}%newline[Mensaje]: %message%n[Excepcion]:%n%exception%n%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<logger name="TextLog">
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="BitacoraEventLog">
			<appender-ref ref="EventLogAppender" />
		</logger>
	</log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <!-- ACCESO A BASE DE DATOS -->
	<add key="DataSource" value="DEVCRM01"></add>
	<add key="UserId" value="UsrCRMETL"></add>
	<add key="Password" value="Password123!"></add>
	<add key="InitialCatalog" value="BD_CRMFUENTE"></add>
    <!-- ACCESO A CRM SERVICE-->
    <add key="PasswordEncriptado" value="NO" />
    <add key="CRMURLService" value="http://devcrm00:5555/BCP365/XRMServices/2011/Organization.svc" />
    <add key="CRMUser" value="ADMCRMMIG" />
    <add key="CRMPassword" value="A4E6C5949E8047C01671" />
    <add key="CRMDominio" value="BTBNET" />
    <add key="DIRECCIONWEB" value="devcrm01:5555/BCPDEV/" />
    <!--<add key="CODIGOCARTA" value="4207"></add>
    <add key="CODIGOLLAMADA" value="4210"/>-->
    <add key="Destinatario" value="ACondo@bancred.com.bo" />
    <add key="Asunto" value="CRM_MARKETING" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Endpoint" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>