@page "/401"
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="flex-direction: column; padding-top: 10px">
        <div style="text-align: center;">
            <img src="img/icon_state_false.svg" width="300" style="max-width: 77px;margin-top: 10em;margin-bottom: 35px;"/>
        </div>
        <div style="text-align: center;">
            <h2>NO TIENES AUTORIZACION</h2>
        </div>
        <div style="text-align: center;">
            <p>Sesión Invalida</p>
        </div>
    </div>
</div>

@code {

}
