@page "/403"
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="flex-direction: column; padding-top: 10px">
        <div style="text-align: center;">
            <img src="img/error.png" width="300" />
        </div>
        <div style="text-align: center;">
            <h2>SESIÓN FINALIZADA</h2>
        </div>
        <div style="text-align: center;">
            <p>La sesión ha Finalizado</p>
        </div>
    </div>
</div>

@code {

}
