@page "/500"

<div style="display: flex; justify-content: center; align-items: center;">
    <div style="flex-direction: column; padding-top: 10px">
        <div style="text-align: center;">
            <img src="img/error.png" width="300" />
        </div>
        <div style="text-align: center;">
            <h2>OCURRIO UN ERROR INESPERADO</h2>
        </div>
        <div style="text-align: center;">
            <p>Estamos trabajando para solucionarlo lo antes posible. <br />Vuelve a intentarlo más tarde.</p>
        </div>
    </div>
</div>

@code {

}
