@page "/404"
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="flex-direction: column; padding-top: 10px">
        <div style="text-align: center;">
            <img src="img/error.png" width="300" />
        </div>
        <div style="text-align: center;">
            <h2>PAGINA NO ENCONTRADA</h2>
        </div>
        <div style="text-align: center;">
            <p>Ups..! al parecer accediste a una ruta equivocada. <br />Asegurate de estar en la dirección correcta</p>
        </div>
    </div>
</div>

@code {

}
